@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@400;800&display=swap');
/*Architects Daughter
  "Open Sans", sans-serif
  "Open Sans Condensed", sans-serif
  "Crimson text", serif
  */

  /*-------------------------------------------All pages */

* {
    margin: 0;
    padding: 0;
}

.header-text {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
    margin: 0 auto;
}

.text-serif {
    font-family: "Crimson text", serif;
}

.text-sans {
    font-family: "Open Sans", sans-serif;
}

small {
    font-family: "Crimson Text";
}

.btn-main, .btn-lg {
  border: 2px solid #b8860b;
  background: rgba(255, 193, 7, 0.6);
  color: #000;
  font-weight: 600;
  padding: 0.375rem 0.75rem;
}

.btn-book {
   padding: 0.5rem 1rem;
   font-size: 1.25rem;
}

.btn-main:hover {
  background: none;
}

/*--- for dark backgrounds ---*/
.dark {
  color: #fff;
}

/*-------------------------------------------Colors */
 .background {
     background-color: #2f353b;
 }

 .background2 {
    background-color: #e0e0e0;
}

.fb:hover {
  background-color: #3b5999;
}

.tw:hover {
  background-color: #1DA1F2;
}

.ig:hover {
    background-color: #7232bd;
}
.yt:hover {
  background-color: #FF0000;
}

.sp:hover {
  background-color: #1DB954;
}

.about-us {
    background-color: #fceec2;
}

/*-------------------------------------------Navbar */


#logo {
    font-family: "Architects Daughter";
    font-size: 42px;
    font-weight: bolder;
}

.navbar {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.navbar-item {
    color: #000;
}

.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #b8860b;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 2px;
}

/*Main-------------------------------------------Main */
/*--------------------------------------Hero image */
.welcome {
  background-image: url("../img/microphone.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 500px;
  position: relative;
}

.light-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding-left: 20px;
}

.jumbo-title {
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 50px 20px;
}

.jumbo-text {
    font-weight: 16px;
}
/*-------------------------------------------Carousel */


.light-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(250, 250, 250, 0.5);
}
    /*----------------viewport smaller than 768px */
/* .carousel-inner {
    min-height: 300px;
} */
.concert-item h2 {
    color: #fff;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 8vw;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 1px 1px #000;
}

.concert-item p {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 4vw;
    font-weight: bolder;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
 /*----------------viewport larger than 768px */
 .concert-items {
    background-color: #f2f2f2;
    padding: 50px 30px;
    width: 100%;
 }

.concert-card {
    margin: 30px 10px;
    border: 2px solid rgb(0, 0, 0);
}

.concert-item-vp-768 h5 {
    /* font-family: "Open Sans condensed", sans-serif; */
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
}

.concert-item-vp-768 p {
    font-size: 16px;
    margin: 30px 0;
}

/*-------------------------------------------About Us / our music-- */

.about {
    color: #fff;
    width: 70%;
    max-width: 992px;
    margin: 0 auto;
    padding: 5px 50px;
}

.music {
    color: #fff;
    width: 70%;
    max-width: 992px;
    margin: 0 auto;
    padding: 5px 50px;
}

.about i, .music i {
    font-size: 40px;
}

#back-to-top {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    margin-left: auto;
    margin-right: 20px;
}

/*-------------------------------------------Footer */

.list-inline {
    padding-right: 20px;
    margin: 40px auto;
}

.footer-signup{
    margin: 40px auto;
}

#btn-footer-signup {
    border: 2px solid #b8860b;
    border-radius: 0px;
    background-color: transparent;
    color: #000;
}

#btn-footer-signup:hover {
    background: #b8860b;
}

.list-inline-item {
    background-color: #2f353b;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    height: 40px;
    width: 40px;
    padding: 7px;
}

.list-inline-item i {
    color: #fff;
}

.modal-title {
    font-family: "Open Sans Condened", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.modal-body {
    font-family: "Open Sans", sans-serif;
}

/*-------------------------------------------aboutus.html page */

.about-group {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    width: 90%;
    max-width: 992px;
    margin: 0px auto 20px;
    padding: 5px 20px; 
}

.about-members {
    padding: 20px;
    max-width: 1200px;
}

.member-portrait {
  width: 200px;
  height: 200px;
  padding: 10px;
  border-style: solid;
  border-color: #b8860b;
  border-width: 3px;
  border-radius: 50% 50% 50% 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
}

.portrait-img1 {
  background-image: url('../img/portrait1.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  border-radius: 50% 50% 50% 0;
  padding-top: 20px;
}


.portrait-img2 {
  background-image: url('../img/portrait2.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  border-radius: 50% 50% 50% 0;
  padding-top: 20px;
}

.portrait-img3 {
  background-image: url('../img/portrait3.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  border-radius: 50% 50% 50% 0;
  padding-top: 20px;
}

.portrait-img4 {
  background-image: url('../img/portrait4.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  border-radius: 50% 50% 50% 0;
  padding-top: 20px;
}

.member-text {
    margin: 10px;
}

.member-text h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.member-text p {
    font-size: 16px;
    margin: 20px 0;
}
/*-------------------------------------------ourshows.html page */
.ourshows {  
  max-width: 900px;
  margin: 0 auto;
}

.ourshows p {
    font-family: "Open Sans", sans-serif;
}
/*-------------------------------------------ourmusic.html page */
.audio, .video {
    font-family: "Open Sans", sans-serif;
    
}
.audio h3, .video h3 {
    font-size: 20px;
}

.audio h4, .video-title {
    font-size: 20px;
    font-style: italic;
}

.audio-player:active {
    background: none;
    margin: 0 auto;
}
/*-------------------------------------------contact.html page */
.book-us-form, .contact-form {
    max-width: 900px;
    font-family: "Open Sans", sans-serif;
}

.book-us-form h3, .contact-form h3{
    font-size: 24px;
    margin: 20px;
}

.book-us-form p, .contact-form p, .form-group {
    font-size: 16px;
}

.contact-form i {
    font-size: 24px;
}

.form {
    margin: 20px;
}