@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Crimson+Text:wght@400;600&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*-------------------------------------------Colors */

.fb:hover {
  background-color: #3b5999;
}

.tw:hover {
  background-color: #1DA1F2;
}

.ig:hover {
    background-color: #7232bd;
}
.yt:hover {
  background-color: #FF0000;
}

.sp:hover {
  background-color: #1DB954;
}

/*-------------------------------------------Navbar */


#logo {
    font-family: "Architects Daughter";
    font-size: 42px;
    font-weight: bolder;
}

.navbar {
    font-family: "Montserrat", serif;
}
/*-------------------------------------------Main */

.welcome {
  background-image: url("../img/stage gold.jpeg");
  background-position: center;
  background-size: cover;
  background-color: #fceec2;
  height: 500px;
  /* width: 100%; */
  margin-top: 50px;
}

.jumbotron {
  margin: 0 auto;
  text-align: center;
  position: relative;
  max-width: 400px;
  background: rgba(204, 204, 204, 0.8);
}

#jumbo-title {
    font-family: "Montserrat", serif;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bolder;
}

#jumbo-text {
    font-family: "Crimson Text", sans-serif;
    font-weight: 16px;
}
/*-------------------------------------------Footer */

.list-inline {
    padding-right: 20px;
    margin: 20px auto;
}

.footer-signup{
    margin: 20px auto;
}

#btn-footer-signup {
    border-radius: 0px;
}

.list-inline-item {
    background-color: #6c757d;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    height: 40px;
    width: 40px;
    padding: 7px;
}

.list-inline-item i {
    color: #fff;
}