@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Crimson+Text:wght@400;600&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*-------------------------------------------Navbar */

#logo {
    font-family: "Architects Daughter";
    font-size: 42px;
    font-weight: bolder;
}

/*-------------------------------------------Footer */

.footer-signup {

}

.footer-social-links {
    
}

.list-inline-item {
    background-color: #6c757d;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    height: 40px;
    width: 40px;
    padding: 8px;
}

.list-inline-item i {
    color: #fff;
}